In [4]:
import tensorflow.compat.v1 as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
tf.disable_v2_behavior()

In [6]:
income = pd.read_csv('/Users/blackrose/Downloads/census_data.csv')

In [7]:
income.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
income.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [9]:
len(income.columns)

14

In [10]:
income.shape

(32561, 14)

In [11]:
income.describe()

                age  education_num  capital_gain  capital_loss  hours_per_week
count  32561.000000   32561.000000  32561.000000  32561.000000    32561.000000
mean      38.581647      10.080679   1077.648844     87.303830       40.437456
std       13.640433       2.572720   7385.292085    402.960219       12.347429
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       48.000000      12.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [12]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   education_num   32561 non-null  int64
 4   marital_status  32561 non-null  object
 5   occupation      32561 non-null  object
 6   relationship    32561 non-null  object
 7   race            32561 non-null  object
 8   gender          32561 non-null  object
 9   capital_gain    32561 non-null  int64
 10  capital_loss    32561 non-null  int64
 11  hours_per_week  32561 non-null  int64
 12  native_country  32561 non-null  object
 13  income_bracket  32561 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.5+ MB

In [13]:
income.dtypes

age                int64
workclass         object
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_bracket    object
dtype: object

In [14]:
income.dtypes['age']

dtype('int64')

In [15]:
label = 'income_bracket'

In [16]:
income[label].unique()

array([' <=50K', ' >50K'], dtype=object)

In [ ]:
# ดึงเฉพาะ column ตัวเลข

num_col_names = [c for c in income.columns if income.dtypes[c] == 'int64' ]

In [18]:
num_col_names

['age', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']

In [ ]:
# ดึงเฉพาะ column str with not label
cat_col_names = [ c for c in income.columns if c not in num_col_names and c != label]

In [20]:
cat_col_names

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'gender',
 'native_country']

In [ ]:
# !pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\anaconda3\envs\tf\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\admin\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\admin\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\anaconda3\envs\tf\lib\site-packages (from scikit-learn) (3.6.0)

In [21]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler() #ทำเฉพาะตัวเลข

In [23]:
scaled_data = scaler.fit_transform(income[num_col_names])

In [24]:
scaled_data

array([[0.30136986, 0.8       , 0.02174022, 0.        , 0.39795918],
       [0.45205479, 0.8       , 0.        , 0.        , 0.12244898],
       [0.28767123, 0.53333333, 0.        , 0.        , 0.39795918],
       ...,
       [0.56164384, 0.53333333, 0.        , 0.        , 0.39795918],
       [0.06849315, 0.53333333, 0.        , 0.        , 0.19387755],
       [0.47945205, 0.53333333, 0.1502415 , 0.        , 0.39795918]])

In [25]:
scaled_data.min(), scaled_data.max()

(0.0, 1.0)

In [26]:
dummy_data = pd.get_dummies(income[cat_col_names].astype('category'), dtype='int')

In [27]:
dummy_data.head()

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df = pd.DataFrame(scaled_data, columns=num_col_names)
df

            age  education_num  capital_gain  capital_loss  hours_per_week
0      0.301370       0.800000      0.021740           0.0        0.397959
1      0.452055       0.800000      0.000000           0.0        0.122449
2      0.287671       0.533333      0.000000           0.0        0.397959
3      0.493151       0.400000      0.000000           0.0        0.397959
4      0.150685       0.800000      0.000000           0.0        0.397959
...         ...            ...           ...           ...             ...
32556  0.136986       0.733333      0.000000           0.0        0.377551
32557  0.315068       0.533333      0.000000           0.0        0.397959
32558  0.561644       0.533333      0.000000           0.0        0.397959
32559  0.068493       0.533333      0.000000           0.0        0.193878
32560  0.479452       0.533333      0.150242           0.0        0.397959

[32561 rows x 5 columns]

In [30]:
df = pd.concat([df, dummy_data],axis=1)

In [31]:
df.head()

,age,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,0.301370,0.800000,0.02174,0.0,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.452055,0.800000,0.00000,0.0,0.122449,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0.287671,0.533333,0.00000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0.493151,0.400000,0.00000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0.150685,0.800000,0.00000,0.0,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
all_labels = income[label].unique()
all_labels

array([' <=50K', ' >50K'], dtype=object)

In [34]:
income[label]

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income_bracket, Length: 32561, dtype: object

In [36]:
all_labels[0]

' <=50K'

In [ ]:
label_df = income[label].apply(lambda x:int(x == all_labels[0])) # ถ้า เท่ากัน จะได้ค่า True → แปลงเป็น 1
label_df

0        1
1        1
2        1
3        1
4        1
        ..
32556    1
32557    0
32558    1
32559    1
32560    0
Name: income_bracket, Length: 32561, dtype: int64

In [38]:
label_ar = np.eye(len(all_labels))[label_df.values]
label_ar

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [ ]:
np.eye(len(all_labels))[label_df.values] # จะเปลี่ยน shape ของข้อมูล ให้กลายเป็น 2 มิติ เช่น จาก (n,) กลายเป็น (1, n)

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]])

X_train, X_test , y_train, y_test = train_test_split(df.value , label_ar, test_size=0.3)

In [48]:
X_train, X_test, y_train, y_test=train_test_split(df.values,label_ar,test_size=0.3)

In [49]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((22792, 107), (9769, 107), (22792, 2), (9769, 2))

Sigmoid(lr -> mx+b
logit = X_train (x_pl) * m +b
label = y_pl

In [51]:
X_train

array([[0.17808219, 0.53333333, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.09589041, 0.6       , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.47945205, 0.6       , 0.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.04109589, 0.53333333, 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.05479452, 0.6       , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.47945205, 0.6       , 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [ ]:
x_pl = tf.placeholder(tf.float32,shape=[None, X_train.shape[1]]) #สร้าง placeholder ที่รับอินพุตเป็นจำนวนตัวอย่างไม่แน่นอน (None) และมีจำนวนคุณลักษณะ (features) เท่ากับจำนวนคอลัมน์ของ X_train
y_pl = tf.placeholder(tf.float32, shape=[None, y_train.shape[1]])

In [53]:
# คือการประกาศตัวแปร น้ำหนัก (weights) และ ออฟเซ็ต (bias) สำหรับโมเดลแบบเชิงเส้น (linear model) ด้วย TensorFlow

# X_train.shape[1] คือจำนวน features
# y_train.shape[1] คือจำนวน output classes (เช่น 3 ถ้าเป็น one-hot)

# tf.Variable ใช้สำหรับ สร้างตัวแปรที่สามารถเปลี่ยนค่าได้ ซึ่ง TensorFlow จะ เรียนรู้/อัปเดตค่าเหล่านี้ได้เอง เช่น น้ำหนัก (weights), bias, พารามิเตอร์อื่น ๆ
m = tf.Variable(tf.random_uniform([X_train.shape[1], y_train.shape[1]])) # matrix weights สร้างตัวแปร w ที่มี shape X_train.shape[1]×y_train.shape[1] และมีค่าเริ่มต้นแบบสุ่ม
b = tf.Variable(tf.random_uniform([y_train.shape[1]])) # w คือ เมทริกซ์น้ำหนัก ใช้คูณกับข้อมูลอินพุต (X) → ต้องมี shape 2 มิติ 
# b คือ เวกเตอร์ bias ที่ใช้ เพิ่มเข้าไปในผลลัพธ์ของ dot product → ใช้ shape 1 มิติเท่านั้น (ต่อ class)

In [54]:
# เป็นการคำนวณผลลัพธ์ก่อนนำไปเข้า activation function (เช่น softmax)
# เรียกว่า logits — คือผลรวมเชิงเส้น (linear combination) ของ input

logit = tf.matmul(x_pl,m) + b

In [55]:
loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(labels=y_pl,logits=logit))

# loss = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits_v2(labels=y_pl, logits=logits)) คือการคำนวณ ค่า Cross-Entropy loss ที่ใช้สำหรับ การจำแนกประเภท (classification) 
# โดยใช้ softmax activation และ cross-entropy loss function. 
# ค่าที่ได้จากการคำนวณ loss จะถูกใช้เพื่อ ปรับปรุงโมเดล โดยการทำ backpropagation และ gradient descent.

In [56]:
# สร้าง Optimizer ที่จะอัปเดตค่าพารามิเตอร์ของโมเดลโดยใช้ Gradient Descent และใช้ learning rate เพื่อควบคุมการอัปเดต.

In [57]:
learning_rate = 0.1
grad = tf.train.GradientDescentOptimizer(learning_rate)

In [58]:
optimizer = grad.minimize(loss) #optimizer = grad.minimize(loss) ใช้ในการคำนวณ gradients และอัปเดตพารามิเตอร์ของโมเดลโดยใช้ Gradient Descent.
# คำสั่งนี้จะทำให้โมเดลเรียนรู้จากข้อมูลการฝึก โดยลด loss ให้ต่ำที่สุดในแต่ละขั้นตอนการฝึก

In [59]:
model = tf.nn.softmax(logit) #เป็นการใช้ฟังก์ชัน Softmax เพื่อแปลง logits (ผลลัพธ์จากโมเดลก่อนการแปลง) ให้อยู่ในรูปของ ความน่าจะเป็น สำหรับแต่ละคลาสในปัญหาการจำแนกประเภท (Classification Problem).

In [60]:
epochs = 500 # epochs คือจำนวน รอบการฝึก (epochs) ที่โมเดลจะเรียนรู้จากข้อมูลการฝึก.
    # 1 epoch หมายถึงการที่โมเดลได้เห็นข้อมูลการฝึกครบทุกตัวอย่างในชุดข้อมูล 1 รอบ.
    # การฝึก 500 รอบ (500 epochs) หมายความว่าโมเดลจะทำการอัปเดตพารามิเตอร์ 500 ครั้งจากข้อมูลทั้งหมด.

In [61]:
batch_size = 200 # คือจำนวนตัวอย่างใน 1 batch ที่จะถูกส่งผ่านโมเดลในแต่ละรอบการฝึก.
# การแบ่งข้อมูลการฝึกออกเป็น batch ช่วยให้การฝึกเป็นไปอย่างมีประสิทธิภาพมากขึ้น เพราะไม่จำเป็นต้องใช้ข้อมูลทั้งหมดในการคำนวณการอัปเดตพารามิเตอร์ในแต่ละครั้ง.
# ตัวอย่างเช่น ถ้ามีข้อมูลทั้งหมด 10000 ตัวอย่างและใช้ batch_size = 200, จะมี 50 batches ในแต่ละ epoch.

In [ ]:
init = tf.global_variables_initializer()

# tf.global_variables_initializer() ใช้ในการ initialization ตัวแปรทั้งหมดในกราฟ TensorFlow ก่อนที่จะเริ่มการฝึก.
# ใน TensorFlow, ตัวแปรต่างๆ เช่น weights และ bias ต้องได้รับการกำหนดค่าเริ่มต้นก่อนที่เราจะสามารถฝึกโมเดลได้.
# ตัวแปร init นี้จะถูกรันใน session เพื่อเริ่มต้นตัวแปรทั้งหมดในกราฟ.

In [64]:
losses = []

# losses คือรายการ (list) ที่ใช้ในการเก็บค่า loss สำหรับแต่ละ epoch หรือ batch.
# ค่า loss ที่ต่ำลงในแต่ละ epoch แสดงว่าโมเดลกำลังเรียนรู้และปรับปรุงผลลัพธ์.

In [ ]:
#  การสร้าง session และเริ่มต้นตัวแปร:
with tf.Session() as sess:
    sess.run(init)
    # for epoch in range(epochs):: ลูปการฝึกที่ทำงานตามจำนวน epochs ที่กำหนด.
    for epoch in range(epochs):
        
        # ในขั้นตอนนี้, ตัวแปร x_feed และ y_feed ถูกตั้งค่าเป็น None เพื่อเตรียมตัวรับข้อมูลที่ถูกแบ่งออกมาในแต่ละ batch สำหรับการฝึก
        # : ถ้า X_train เป็นข้อมูลอินพุตและ y_train เป็น labels, ในแต่ละ batch ข้อมูลจาก X_train จะถูกเก็บใน x_feed และ y_train จะถูกเก็บใน y_feed.
        x_feed = None
        y_feed = None
        # for batch in range(0, X_train.shape[0], batch_size):: ลูปเพื่อแบ่งข้อมูลออกเป็น batches โดยการแบ่งชุดข้อมูลฝึก (X_train, y_train) เป็น batch_size.
        for batch in range(0, X_train.shape[0], batch_size): # start_idx คือ index หรือดัชนีเริ่มต้นของ batch นี้. ในรอบแรก, batch จะเป็น 0, ดังนั้น start_idx ก็จะเริ่มต้นที่ 0.
            start_idx = batch
            end_idx = batch + batch_size if batch + batch_size < X_train.shape[0] else X_train.shape[0]
            x_feed = X_train[start_idx: end_idx]
            y_feed = y_train[start_idx: end_idx]
            
            # x_pl คือ placeholder ที่ใช้ใน TensorFlow เพื่อรองรับข้อมูลที่ยังไม่ได้ถูกกำหนดค่าในขณะเริ่มต้นการสร้างกราฟการคำนวณ. ในกรณีนี้ x_pl คือ placeholder สำหรับข้อมูลอินพุตที่ใช้ในการฝึกโมเดล.
            sess.run(optimizer, feed_dict={x_pl: x_feed, y_pl:  y_feed}) #feed_dict={x_pl: x_feed, y_pl: y_feed} คือการส่งข้อมูลเข้าไปใน placeholders:
            # optimizer คือการตั้งค่ากลไกในการปรับพารามิเตอร์ของโมเดล (เช่น weights หรือ biases)
        
        # ทุกๆ 20 epoch (หรือทุกๆจำนวนที่กำหนด) เราจะคำนวณค่า loss โดยใช้ข้อมูลของ x_feed และ y_feed ที่ถูกใช้ในการอัปเดตพารามิเตอร์ใน batch ปัจจุบัน.
        # ค่า loss จะถูกพิมพ์ออกมาเพื่อดูการพัฒนาในแต่ละ epoch และเก็บค่า loss ไว้ใน losses เพื่อการตรวจสอบในภายหลัง.
        if epoch % 20 == 0:
            _loss = sess.run(loss, feed_dict={x_pl: x_feed , y_pl: y_feed})
            print('Epoch', epoch)
            print('Loss', _loss)
            losses.append(_loss)

    # หลังจากฝึกเสร็จสมบูรณ์แล้ว, เราคำนวณ loss บน X_train และ y_train เพื่อดูว่าโมเดลเรียนรู้ได้ดีแค่ไหนหลังจากผ่าน 500 epochs.
    _loss = sess.run(loss, feed_dict={x_pl: X_train, y_pl: y_train}) # ฟังก์ชัน loss จะเป็นการคำนวณว่าผลลัพธ์ที่โมเดลทำนายห่างจากค่าจริงมากแค่ไหน 
    print('Final loss:' , _loss)

    # การทำนายบนชุดทดสอบ (Test Set):
    y_predict = sess.run(model, feed_dict = {x_pl: X_test})
    predict = np.argmax(y_predict , axis=1)
    accuracy=np.mean(predict == np.argmax(y_test, axis=1))
    print('Accuracy:',accuracy)

WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
I0000 00:00:1746872471.482382  267370 mlir_graph_optimization_pass.cc:425] MLIR V1 optimization pass is not enabled

Epoch 0
Loss 0.37157774
Epoch 20
Loss 0.3070808
Epoch 40
Loss 0.3031308
Epoch 60
Loss 0.3012975
Epoch 80
Loss 0.30020288
Epoch 100
Loss 0.29947868
Epoch 120
Loss 0.2989672
Epoch 140
Loss 0.29858896
Epoch 160
Loss 0.29829904
Epoch 180
Loss 0.2980695
Epoch 200
Loss 0.29788268
Epoch 220
Loss 0.29772675
Epoch 240
Loss 0.29759416
Epoch 260
Loss 0.2974797
Epoch 280
Loss 0.29737994
Epoch 300
Loss 0.2972925
Epoch 320
Loss 0.29721573
Epoch 340
Loss 0.29714832
Epoch 360
Loss 0.29708934
Epoch 380
Loss 0.29703814
Epoch 400
Loss 0.29699424
Epoch 420
Loss 0.29695714
Epoch 440
Loss 0.29692647
Epoch 460
Loss 0.29690203
Epoch 480
Loss 0.29688346
Final loss: 0.32012638
Accuracy: 0.8462483365748797